body{
    width           : 350px;
    min-height      : 100px;
}
h1{
    font-size       : 1.1em;
    margin          : 10px 10px 0;
    line-height:    : 150%;
}


/*** Buttons ***/
.button{
    float           : right;
    margin-right    : 10px;
    padding         : 7px;
    border-radius   : 4px;
    color           : white;
    text-decoration : none;
    background-color: #5bc0de;
    border          : 1px solid #46b8da;
    font-size       : .9em;
}
.button:hover{
    background-color: #39b3d7;
    border          : 1px solid #269abc;
}
#button-head{
    margin-top      : -7px;
}


/*** Select and Deslect All ***/
.check-all{
    font-size       : .75em;
    margin          : 10px 0 0 10px;
}
.check-all a{
    color           : #0295cd;
    margin-right    : 15px;
}
.check-all a:active{
    color           : red;
}


/*** Checkbox Containers ***/
#input-lists{
    overflow:       : hidden;
    margin-top      : 25px;
}
#input-lists ul{
    float           : left;
    margin-top      : 0px;
    width           : 50%;
    padding         : 0;
    line-height     : 150%;
    list-style-type : none;
    font-size       : .9em;
}
#input-lists li{
    padding         : 10px;
    height          : 70px;
}
#input-lists li:nth-child(even){
    background-color: #F0F0F0;
}
#input-lists p{
    font-size       : .7em;
    color           : #8F8F8F;
    margin          : 0 10px 0px 0px;
    line-height     : 140%;
}


/*** Loading Screen ***/
.loading{
    display         : none;
    background      : url('img/loader.gif') no-repeat center center;
    width           : 100%;
    height          : 200px;
}


/*** Error Screen ***/
.error-handler{
    color           : #850000;
}

/*** Utils ***/
.close{
    float           : right;
    margin-top      : -14px;
    padding         : 10px;
    color           : #ccc;
    text-decoration : none;
}
.hidden {
    display         : none;
}